<%-include('partials/encabezado.html');%>
<body class="container">
    <div class="row" id="body">
        <div id="body-content">
            <br>
            <section>
                <h2>¿Quiénes somos?</h2>
                <p>
                    Somos una empresa socialmente responsable y líder de nuestra área, al ser una empresa en crecimiento siempre estamos buscando nuevas personas para integrarlas a nuestro equipo de trabajo.
                </p>
            </section>
            <section>
                <h2>Ubicaciones</h2>
                <p>Tenemos múltiples ubicaciones, nuestra sede ubicada en Tolomeo 2748, Agua, Veracruz. Las siguientes son las ubicaciones de nuestros franquiciarios: </p>
                <ul>
                    <li>
                        Madre 2376, Zapato, Guerrero
                    </li>
                    <li>
                        Padre 426, María, Chiapas
                    </li>
                    <li>
                        Av. Plátano 894, Mazatlán, Sinaloa
                    </li>
                </ul>
            </section>
            <br>
        </div>
    </div>
    <%-include('partials/piePagina.html');%>
</body>